.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #242b37;
  height: 40px;
  color: aliceblue;
  font-size: 14px;
}
.buttons-wrapper {
  display: flex;
  margin: 5px;
}
.button{
  margin: 5px;
}
